<!-- <ul>
    <li *ngFor="let pais of Paises">
        {{ pais.name.common }} - {{ pais.name.common }}
    </li>
</ul> -->
<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col" *ngFor="let album of Albumes">
        <div class="card">
            <img [src]="album.images | noImage" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">{{ album.name }}</h5>
                <p class="card-text">
                    <span class="badge rounded-pill bg-primary" *ngFor="let artista of album.artists">
            {{ artista.name }}
          </span>
                </p>
            </div>
        </div>
    </div>
</div>